OPENAI_API_KEY=
CB_HOST=
CB_USERNAME=
CB_PASSWORD=
CB_BUCKET_NAME=
INDEX_NAME=
SCOPE_NAME=
COLLECTION_NAME=
CB_BUCKET_RAM_QUOTA_MB=100
DATASET_SPLIT=train
AGENT_QUERY=What was manchester city manager pep guardiola's reaction to the team's current form?